{% extends 'modelo.html' %} {% block title %}
<title>Glossário</title>
{% endblock %} {% block body %}

<main id="main-glossario">

  <h1>Glossário</h1>

  <div class="procurar">
  
  <div class="alfabeto">
  {% for letra in "abcdefghijklmnopqrstuvwxyz" %}
  <a href="#{{letra}}" class="abc">{{letra}}</a>
  {% endfor %}
  </div>

  <div class="barra-de-pesquisa">
  <form action="/glossario">
    <input
      type="text"
      name="pesquisar"
      placeholder="Pesquisar"
      ,
      autocomplete="off"
    />
    <button type="submit"><img src="../static/imagens/search.png" alt=""></button>
  </form>
  </div>
</div>

  <!-- adicionar termos -->
  <form action="/glossario" method="POST" class="add-conceitos">
    <input
      type="text"
      name="termo"
      placeholder="Termo"
      autocomplete="off"
      required
    />
    <input size="40"
      type="text"
      name="definicao"
      placeholder="Definição"
      autocomplete="off"
      required
    />
    <button type="submit">ADD</button>
  </form>
  

  <div class="glossario">
    {% if pesquisa %}
    <h2>Resultados para <span>"{{pesquisa}}"</span></h2>
    {% for termo, descricao in pesquisado.items() %}
    <h2 id="{{termo[0]|lower}}">{{termo}}</h2>
    <p>{{descricao}}</p>
    <div class="glossario-botoes">
      <button class="alterar-conceito" data-target="popup">Editar</button>
    <div class="popup-bg">
      <div class="popup-conteudo">
    <form class="alterar-form" action="/alterar-termo/{{termo}}" method="POST">
      <input
        type="text"
        name="novotermo"
        placeholder="Editar termo"
        autocomplete="off"
      />
      <input
        type="text" size="35"
        name="novadefinicao"
        placeholder="Editar definição"
        autocomplete="off"
      />
      <button type="submit"><img src="../static/imagens/update-icon.svg" alt="update"></button>
    </form>
    |

    <form method="POST" action="/deletar/{{termo}}">
      <input type="hidden" name="confirmacao" id="confirmacao">
      <button type="submit" onclick="return confirmarExclusao()">Deletar</button>
  </form>
    </div>
    {% endfor %} {% else %} {% for termo, descricao in glossario %}
    <h2 id="{{termo[0]|lower}}">{{termo}}</h2>
    <p>{{descricao}}</p>
    <div class="glossario-botoes">
    <button class="alterar-conceito" data-target="popup">Editar</button>
    <div class="popup-bg">
      <div class="popup-conteudo">
    <form class="alterar-form" action="/alterar-termo/{{termo}}" method="POST">
      <input
        type="text"
        name="novotermo"
        placeholder="Editar termo"
        autocomplete="off"
      />
      <input
        type="text" size="35"
        name="novadefinicao"
        placeholder="Editar definição"
        autocomplete="off"
      />
      <button type="submit"><img src="../static/imagens/update-icon.svg" alt="update"></button>
    </form>
    </div></div>
    |
    <!-- <a href="/deletar/{{termo}}"><button>Deletar</button></a> -->

    <form method="POST" action="/deletar/{{termo}}">
      <input type="hidden" name="confirmacao" id="confirmacao">
      <button type="submit" onclick="return confirmarExclusao()">Deletar</button>
  </form>
    {% endfor %} {% endif %}
    </div>
  </div>
</main>

{% endblock %}
