{% extends 'modelo.html' %} {% block title %}
<title>Glossário</title>
{% endblock %}

{% block body %}

<header>
  <h1>Glossário</h1>
</header>

<main>
  <!-- adicionar termos -->
  <form action="/glossario" method="POST">
    <input
      type="text"
      name="termo"
      placeholder="Termo"
      autocomplete="off"
      required
    />
    <input
      type="text"
      name="definicao"
      placeholder="Definição"
      autocomplete="off"
      required
    />
    <input type="submit" value="Adicionar" />
  </form>

  {% for letra in "abcdefghijklmnopqrstuvwxyz" %}
  <a href="#{{letra}}" class="abc">{{letra}}</a>
  {% endfor %}

  <!-- adicionar termos -->
  <form action="/glossario" method="POST">
    <input
      type="text"
      name="termo"
      placeholder="Termo"
      autocomplete="off"
      required
    />
    <input
      type="text"
      name="definicao"
      placeholder="Definição"
      autocomplete="off"
      required
    />
    <input type="submit" value="Adicionar" />
  </form>

  <div class="glossario">
    {% for termo, descricao in glossario %}
    <h2 id="{{termo[0]|lower}}">{{termo}}</h2>
    <p>{{descricao}}</p>
    <button id="btalterar">Editar</button>
    <form id="formalterar" action="/alterar/{{termo}}" method="POST">
      <input
        type="text"
        name="novotermo"
        placeholder="Editar termo"
        autocomplete="off"
      />
      <input
        type="text"
        name="novadefinicao"
        placeholder="Editar definição"
        autocomplete="off"
      />
      <input type="submit" value="Alterar" />
    </form>
    |
    <a href="/deletar/{{termo}}"><button>Deletar</button></a>
    {% endfor %}
  </div>
</main>

<!-- <script>
var botao = document.getElementById('btalterar');
var form = document.getElementById('formalterar');
    
botao.addEventListener('click', function() {
    form.style.display = 'block';
});
</script> -->

<a href="/">BACK</a>
{% endblock %}
