{% extends 'modelo.html' %} {% block title %}
<title>TechOwl</title>
{% endblock %} {% block body %}

<div id="index">
    <a href="/">
        <button class="botao-index">
            <div>
                <h2>TechOwl</h2>
                <img src="{{url_for('static', filename='imagens/coruja.png')}}">
            </div>
            <p>Somos um site de organização de estudos com Glossário e Gerenciador de Tarefas, desenvolvido para a nota final da disciplina de Introdução à Programação ministrada pelo professor Messias Batista na UNIESP.</p>
        </button>
    </a>

    <a href="/glossario">
        <button class="botao-index">
            <div>
                <h2>Glossário</h2>
                <img src="{{url_for('static', filename='imagens/coruja.png')}}">
            </div>
            <p>Aqui você encontra alguns termos aprendidos ao longo do primeiro semestre do curso de Sistemas para Internet, do UNIESP.</p>
        </button>
    </a>

    <a href="/tarefas">
        <button class="botao-index">
            <div>
                <h2>Tarefas</h2>
                <img src="{{url_for('static', filename='imagens/coruja.png')}}">
            </div>
            <p>Aqui você pode organizar suas tarefas, definir quais são prioridades, excluir, editar e concluir de acordo com suas necessidades.</p>
        </button>
    </a>

    <a href="/sobre">
        <button class="botao-index">
            <div>
                <h2>Sobre nós</h2>
                <img src="{{url_for('static', filename='imagens/coruja.png')}}">
            </div>
            <p>Conheça a equipe de desenvolvedores do <span>TechOwl</span>.</p>
        </button>
    </a>
</div>

{% endblock %}
