{% extends 'modelo.html' %}

{% block title %}
<title>TechOwl - Sobre Nós</title>
{% endblock %}

{% block body %}
<main>

<section class="sobre">
<div class="card">
  <img src="{{url_for('static', filename='imagens/ana_clara.jpg')}}" alt="foto-de-ana-clara">
  <div>
    <h4>Ana Clara Barros</h4>
    <h5>Dev</h5>
    <p>Bacharel em Psicologia pela Universidade Federal da Paraíba, atualmente estudante de Letras - Inglês na UFPB e de Sistemas para Internet na UNIESP. Cat person, filme adicta e aspirante a desenvolvedora.</p>
  </div>
  <div class="card-links">
    <a href="https://github.com/banaclara" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/anaclarabs/" target="_blank">LinkedIn</a>
  </div>
</div>

<div class="card">
  <img src="{{url_for('static', filename='imagens/clara.jpeg')}}" alt="foto-de-clara">
  <div>
    <h4>Clara Ferraz</h4>
    <h5>Dev-Git</h5>
    <p>Bacharel em Línguas Estrangeiras Aplicadas às Negociações Internacionais na Universidade Federal da Paraíba. Possui experiência em ensino de inglês, tradução e atendimento ao cliente. Estudando e adquirindo habilidades em desenvolvimento web, especialmente front-end.</p>
  </div>
  <div class="card-links">
    <a href="https://github.com/claraferraz" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/claraferraz/" target="_blank">LinkedIn</a>
  </div>
</div>

<div class="card">
  <img src="{{url_for('static', filename='imagens/guilherme.png')}}" alt="foto-de-guilherme">
  <div>
    <h4>Guilherme Medeiros</h4>
    <h5>Dev-Scrum</h5>
    <p>Pai de Gael e marido de Priscilla. Formado em engenharia civil na UFPB em 2011, tentando virar desenvolvedor. Criador de figurinhas para whatsapp e não consigo falar sério no grupo da turma.</p>
  </div>
  <div class="card-links">
    <a href="https://github.com/guimferreira" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/guilhermedmf/" target="_blank">LinkedIn</a>
  </div>
</div>

<div class="card">
  <img src="{{url_for('static', filename='imagens/messias.png')}}" alt="foto-de-messias">
  <div>
    <h4>Messias Batista</h4>
    <h5>Teacher</h5>
    <p>Geek forjado na década de 90 com formações nas áreas de tecnologia e ciências sociais. Profissional de dados e professor. Tenho 2 filhos maravilhosos, uma esposa que me apoia em tudo, e vários amigos que me ajudam na jornada da vida.</p>
  </div>
  <div class="card-links">
    <a href="https://github.com/mrafaelbatista" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/messiasbatista/" target="_blank">LinkedIn</a>
  </div>
</div>
</section>

</main>

{%endblock%}