{% extends 'modelo.html' %} {% block title %}
<title>Tarefas</title>
{% endblock %} {% block body %}

<div id="main-tarefas">
  <section class="tarefas">
    {% if prioridades != [] %}
    <div class="prioridades">
      <h2>&#9940; COM URGÊNCIA</h2>
      <ul>
        {% for tarefa in prioridades %}
        <li>
          <div>
            {% if tarefa in selecionadas %}
            <a href="/check-up/{{prioridades.index(tarefa)}}" class="checked"
              ><img src="../static/imagens/check.png" alt="desmarcar"
            /></a>
            {% else %}
            <a href="/check-up/{{prioridades.index(tarefa)}}" class="unchecked"
              ><img src="../static/imagens/circle.png" alt="marcar"
            /></a>
            {% endif %}
            <span {% if tarefa in selecionadas %}class="okay" {% endif %}
              >{{tarefa}}</span
            >
          </div>
          <div class="tarefas-botoes">
            <a href="/retirar-prioridade/{{prioridades.index(tarefa)}}">
              <button>
                <img src="../static/imagens/down-arrow.png" alt="" /></button
            ></a>

            <button class="alterar-tarefa" data-target="popup">
              <img src="../static/imagens/pngwing.com.png" alt="" />
            </button>
            <div class="popup-bg">
              <div class="popup-conteudo">
                <form
                  class="form-alterar"
                  action="/alterar-up-tarefa/{{prioridades.index(tarefa)}}"
                  method="POST"
                >
                  <input
                    type="text"
                    name="novatarefapriorizada"
                    placeholder="Editar tarefa"
                    autocomplete="off"
                  />
                  <button type="submit">
                    <img src="../static/imagens/update-icon.svg" alt="update" />
                  </button>
                </form>
              </div>
            </div>

            <a href="/del-up-tarefa/{{prioridades.index(tarefa)}}">
              <button>
                <img src="../static/imagens/icon-lixo.png" alt="" /></button
            ></a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="todo">
      <h2>&#128221; TO DO LIST</h2>
      <form action="/tarefas" method="POST" id="addtarefa">
        <input
          type="text"
          name="tarefa"
          placeholder="Adicionar uma tarefa"
          autocomplete="off"
          required
        />
        <button type="submit">+</button>
      </form>

      {% if listaDeTarefas == [] and prioridades == [] %}
      <p>Parabéns! Você não tem tarefas pendentes.</p>

      {% else %}
      <ul>
        {% for tarefa in listaDeTarefas %}
        <li>
          <div class="tarefa">
            {% if tarefa in selecionadas %}
            <a href="/check/{{listaDeTarefas.index(tarefa)}}" class="checked"
              ><img src="../static/imagens/check.png" alt="desmarcar"
            /></a>
            {% else %}
            <a href="/check/{{listaDeTarefas.index(tarefa)}}" class="unchecked"
              ><img src="../static/imagens/circle.png" alt="marcar"
            /></a>
            {% endif %}
            <span {% if tarefa in selecionadas %}class="okay" {% endif %}
              >{{tarefa}}</span
            >
          </div>
          <div class="tarefas-botoes">
            <a
              href="/priorizar/{{listaDeTarefas.index(tarefa)}}"
              title="Priorizar esta tarefa"
              ><button>
                <img src="../static/imagens/up-arrow.png" alt="" /></button
            ></a>
            <button class="alterar-tarefa" data-target="popup">
              <img src="../static/imagens/pngwing.com.png" alt="" />
            </button>
            <div class="popup-bg">
              <div class="popup-conteudo">
                <form
                  class="form-alterar"
                  action="/alterar-tarefa/{{listaDeTarefas.index(tarefa)}}"
                  method="POST"
                >
                  <input
                    type="text"
                    name="novatarefa"
                    placeholder="Editar tarefa"
                    autocomplete="off"
                  />
                  <button type="submit">ADD</button>
                </form>
              </div>
            </div>

            <a href="/del-tarefa/{{listaDeTarefas.index(tarefa)}}"
              ><button>
                <img src="../static/imagens/icon-lixo.png" alt="" /></button
            ></a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </section>
</div>

{% endblock %}
