{% extends 'modelo.html' %} {% block title %}
<title>Tarefas</title>
{% endblock %} {% block body %}
<header>
  <h1>Tarefas</h1>
</header>

<main>

  <section class="tarefas">
    {% if prioridades != [] %}
    <div class="prioridades">
      <h3>&#9940; COM URGÊNCIA</h3>
      <ul>
        {% for tarefa in prioridades %}
        <li>{{tarefa}}</li>
        <a href="/retirar-prioridade/{{prioridades.index(tarefa)}}"
          ><button>Down</button></a
        >
        |
        <button class="drop-alterar">Editar</button>
        <form
          class="form-alterar"
          action="/alterar-up-tarefa/{{prioridades.index(tarefa)}}"
          method="POST"
        >
          <input
            type="text"
            name="novatarefapriorizada"
            placeholder="Editar tarefa"
            autocomplete="off"
          />
          <button type="submit">Alterar</button>
        </form>
        |
        <a href="/del-up-tarefa/{{prioridades.index(tarefa)}}"
          ><button>Deletar</button></a
        >
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    
    <div class="todo">
      <h3>TO DO LIST</h3>
      <form action="/tarefas" method="POST">
        <input
          type="text"
          name="tarefa"
          placeholder="Add uma tarefa"
          autocomplete="off" required
        />
        <input type="submit" value="Adicionar" />
      </form>

      {% if listaDeTarefas == [] and prioridades == [] %}
      <p>Parabéns! Você não tem tarefas pendentes.</p>
      
      {% else %}
      <ul>
        {% for tarefa in listaDeTarefas %}
        <li>{{tarefa}}</li>
        <a
          href="/priorizar/{{listaDeTarefas.index(tarefa)}}"
          title="Priorizar esta tarefa"
          ><button>Up</button></a
        >
        |
        <button class="drop-alterar">Editar</button>
        <form
          class="form-alterar"
          action="/alterar-tarefa/{{listaDeTarefas.index(tarefa)}}"
          method="POST"
        >
          <input
            type="text"
            name="novatarefa"
            placeholder="Editar tarefa"
            autocomplete="off"
          />
          <button type="submit">Alterar</button>
        </form>
        |
        <a href="/del-tarefa/{{listaDeTarefas.index(tarefa)}}"
          ><button>Deletar</button></a
        >
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </section>
</main>

{% endblock %}
